body{
    background-color: rgb(211, 233, 240);
}


.exercisePage{
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: center;
}

.exerciseTable{
    width: 100%;
    height: 100%;
    border: thin solid black;
    padding: 0.35rem;
    border-radius: 0.25rem;
}

.exerciseThead{
    border-bottom: thin solid black;
    padding: 0.35rem;
}

.exerciseTbody{
   display: flex;
   width: 100%;
   border-radius: 0.20rem;
   flex-direction: column;
   justify-content: space-between;
}

#comment-text-area{
    height:4rem;
}
