/* TODO Add site wide styles */
#root{
    height:100vh;
    width: 100vw;

}

.bg-text{
    background-color: rgb(0,0,0);
    background-color: rgba(7, 84, 209, 0.4);
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 80px;
    border: 10px solid #0a0a0a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    padding: 20px;
    text-align: center;
}
