.signUp{
    background-color: white;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1000px;
    box-sizing: border-box;
    margin: 1rem;
    padding: 1rem;
}

.input-group{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-self: flex-end;
}

.signup-input{
    display: flex;
    justify-content: flex-end;
}

.signup-container{
    display: flex;
    background-color:  white;
    border-radius: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
    max-width: 450px;
    box-sizing: border-box;
    margin: auto;
    padding: 1rem;
}

.outermost-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
