.navBar {
    border: 1px solid teal;
    background-color:whitesmoke;
}

.navItems{
    display:flex;
    justify-content: space-around;
}
.button {
    background-color: teal;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px;
}

.logo-container{
   height: 2rem;
}

.logo-img{
    width: 16.938rem;
    transform: translate(-75%, -25%);
}
